In [2]:
import pandas as pd

In [5]:
file_path = "./fixations.csv"
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(469, 14)

,id,start_timestamp,duration,start_frame_index,end_frame_index,norm_pos_x,norm_pos_y,dispersion,confidence,method,gaze_point_3d_x,gaze_point_3d_y,gaze_point_3d_z,base_data
0,2,329353.629298,217.7835,0,1,0.464232,0.588083,1.238862,0.967885,3d gaze,-12.347013,-14.903240,154.761715,329353.6292975 329353.6318005 329353.6343035 3...
1,3,329353.849585,142.6860,1,3,0.452201,0.600854,1.001847,0.989386,3d gaze,-15.282995,-16.744772,154.721245,329353.8495845 329353.85208750004 329353.85459...
2,4,329354.240094,217.7840,10,17,0.449916,0.618521,1.413271,0.945136,3d gaze,-16.638742,-20.200096,162.207665,329354.2400935 329354.2451 329354.247603 32935...
3,5,329354.460381,217.7840,17,23,0.446518,0.617320,0.660805,0.998861,3d gaze,-17.191172,-19.667667,159.356243,329354.4603805 329354.46288350003 329354.46538...
4,6,329354.680668,217.7840,23,30,0.442908,0.612542,0.579349,0.998918,3d gaze,-17.791657,-18.661575,156.714590,329354.6806675 329354.683171 329354.6856745 32...

In [7]:
df["duration"].describe()

count    469.000000
mean     164.912326
std       52.676385
min       80.104000
25%      112.646500
50%      177.732000
75%      217.783500
max      217.784500
Name: duration, dtype: float64

In [9]:
df["duration"].value_counts()

duration
217.7840    51
217.7840    37
217.7835    28
217.7835    21
215.2805    15
            ..
97.6270      1
125.1635     1
157.1265     1
85.1105      1
137.6790     1
Name: count, Length: 173, dtype: int64

In [10]:
total_duration_ms = df['duration'].sum()
total_duration_sec = total_duration_ms / 1000
total_duration_min = total_duration_sec / 60

In [ ]:
print(f"Total gaze fixation duration: {total_duration_ms:.2f} ms")
print(f"Total gaze fixation duration: {total_duration_sec:.2f} s")
print(f"Total gaze fixation duration: {total_duration_min:.2f} min")